<div class="ms-5">
    <div class="col-md-11 main-data pt-3">
       <div class="logo">
         <img src="logo.png" class="img-fluid rounded-start">
       </div>
             
       <div class="table-report my-3">
         <div class="ms-auto"><div class="title text-center pb-5 fw-semi-bold" [style.color]="'#225470'">
           Admins
             </div>
             <div class=" pb-2">
              <a [routerLink]="['/addadmin']" routerLinkActive="router-link-active" ><button type="button" class="btn show">+ New Admin</button></a>
            </div>
          </div>  
           <div class="mat-elevation-z8">
             <div *ngIf="isLoading; else elsetableBlock">
               <app-loader></app-loader>
             </div>
             <ng-template #elsetableBlock>
             <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
         
              
               <ng-container matColumnDef="id">
                 <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'60px','color':'#FFF'}"> No. </th>
                 <td mat-cell *matCellDef="let element"> {{element.id}} </td>
               </ng-container>
             
       
               <ng-container matColumnDef="fullname">
                 <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'60px','color':'#FFF'}"> Name </th>
                 <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
               </ng-container>
         
               <ng-container matColumnDef="group_name">
                 <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'60px','color':'#FFF'}"> Group </th>
                 <td mat-cell *matCellDef="let element"> {{element.group.name}} </td>
               </ng-container>
             
        
               <ng-container matColumnDef="email">
                 <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'100px','color':'#FFF'}"> Email </th>
                 <td mat-cell *matCellDef="let element"> {{element.email}} </td>
               </ng-container>
             
             
               <ng-container matColumnDef="username">
                 <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'60px','color':'#FFF'}"> Username</th>
                 <td mat-cell *matCellDef="let element"> {{element.username}} </td>
               </ng-container>

               <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'background-color':'#53808e','padding-left':'60px','color':'#FFF'}"> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <a class="me-3" [routerLink]="['/showadmin',element.id]" ><fa-icon [icon]="show" class=" text-primary"></fa-icon></a>
                  <a class="me-3" [routerLink]="['/editadmin',element.id]" ><fa-icon [icon]="edit" class=" text-warning"></fa-icon></a>
                  <fa-icon [icon]="deleteicon" class="text-danger" (click)="delete(element.id)"></fa-icon>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> </ng-template >
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         
    </div>
   
</div>
</div>
</div>