<div class="col-8 mx-auto">
    <div class="card" [ngStyle]="{'background-color':'transparent','border':'none'}">
      <div class="mt-3 card-title d-flex justify-content-between align-items-center"[ngStyle]="{'display':'inline-block','margin-bottom':'20px'}" >
          <p [ngStyle]="{'color':'#28688B'}" class="fs-3 m-0">Edit Admin</p>
            <a class="nav-a" [routerLink]="['/admins']" routerLinkActive="''" >
              <fa-icon [icon]="faLongArrowRight" [ngStyle]="{'color':'#28688B'}" class=" fs-2 mb-5" ></fa-icon></a>
        </div>
        <div class="container mt-5">
          <div *ngIf="isLoading; else elseForm">
            <app-loader :title="loadingTitle"></app-loader>
          </div>
          <ng-template #elseForm>
            <form [formGroup]="adminForm" (ngSubmit)="formsubmit()">
                <div class="row m-5 my-5">
                    <div class="form-group col-md-6">
                  <mat-label for="fullname">Full Name</mat-label>
                  <input type="text" class="form-control" formControlName="fullname" name="fullname" [ngStyle]="{'background-color':'#fff','color':'#28688B'}">
                </div>
                <div class="form-group col-md-6">
                
                  <mat-label for="group_id" >Group</mat-label>
                   <select type="text" class="px-3 pt-2 form-control" formControlName="group_id" name="group_id" [ngStyle]="{'background-color':'#fff','color':'#28688B'}">
   
                       <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                       
                 </select> 
                 <span *ngIf="errors.group_id" class="text-danger">{{errors.group_id}}</span>
                
           </div>  </div>
                <div class="row m-5 my-5">
                    <div class="form-group col-md-6">
                  <mat-label for="username" >user Name</mat-label>
                  <input type="text" class="form-control" formControlName="username" name="username" [ngStyle]="{'background-color':'#fff','color':'#28688B'}">
                </div>
                <div class="form-group col-md-6">
                  <mat-label for="email" >Email</mat-label>
                  <input type="email" class="form-control" formControlName="email" name="email" [ngStyle]="{'background-color':'#fff','color':'#28688B'}">
                </div>
                </div>            
           
               
               <div class="row mx-3" [style.margin-left]="'120px'"><button type="submit" class=" mx-auto w-25 btn">update</button></div>
             
              </form>
          </ng-template>
            </div>
    </div>
</div>
