@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$app-primary-color: mat-palette($mat-indigo);
$app-accent-color: mat-palette($mat-pink);

@include mat-core();
$app-theme: mat-light-theme($app-primary-color, $app-accent-color);
@include angular-material-theme($app-theme);
