<div class="ms-5">
  <div class="col-md-11 main-data pt-3">
  <div class="logo">
    <img src="logo.png" class="img-fluid rounded-start">
  </div>
<div class="col-md-12 d-flex justify-content-end">
  <form action="" method="" (ngSubmit)="addHoliday()" class="w-50 my-5 d-flex justify-content-between">
  <div class="mb-2 w-75 me-5">
    <label for="name" class="">Name</label>
    <input type="text" class="form-control w-100" [(ngModel)]="name" id="name" name="name" placeholder="Enter name" required>
  </div>
  <div class="mb-2 w-75">
    <label for="Date" class="">Date</label>
    <input type="date" class="form-control ww-100" [(ngModel)]="holiday_date" name="holiday_date" id="Date"
      placeholder="Enter Date" required="">
  </div>
  <div class="button w-100 mx-3 mt-3 text-center">

    <button type="submit" class="btn ps-5 pe-5 fs-8">Add</button>
  </div>
  </form>
</div>


<!-- angular material table  -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="fw-bold text-light" [ngStyle]="{'background-color':'#53808e'}"> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="fw-bold text-light"[ngStyle]="{'background-color':'#53808e'}"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="holiday_date">
      <th mat-header-cell *matHeaderCellDef class="fw-bold text-light"[ngStyle]="{'background-color':'#53808e'}">Holiday Date </th>
      <td mat-cell *matCellDef="let element"> {{element.holiday_date}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="fw-bold text-light"[ngStyle]="{'background-color':'#53808e'}"> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a class="me-3" [routerLink]="['/editholiday', element.id]" >
        <fa-icon [icon]="edit" class="text-warning"></fa-icon>
      </a>
      <fa-icon [icon]="deleteicon" class="text-danger" (click)="deleteHoliday(element.id)"></fa-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
  </div>
</div>
