<div class="col-8 mx-auto">
  <div class="form-container text-center mx-auto mt-3" [formGroup]="editForm">
    <p [ngStyle]="{'display':'inline-block','color':'#28688B'}" class="fs-4 fw-bold"><i class="fa-solid fa-gears d-block pb-2 icon fs-2"></i>Edit weekend</p>
  <div *ngIf="successMessage" class="alert alert-success">
    {{successMessage}}
  </div>
  <div class="form-group mt-5 mx-auto">
    <mat-label for="weekendDay1">Weekend Day 1:</mat-label>
    <mat-select formControlName="Weekend1" [ngStyle]="{'background-color':'#FFF','width':'200px','border-radius':'5px','padding-right':'10px'}" id="weekendDay1" [(ngModel)]="Weekend1" (change)="changeValue1()">
      <!-- <option value="No Weekend">No Weekend</option> -->
      <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay">{{ weekDay }}</mat-option>
    </mat-select>
  </div>

  <div class="form-group mt-3 mx-auto">
    <mat-label for="weekendDay2">Weekend Day 2:</mat-label>
    <mat-select formControlName="Weekend2" [ngStyle]="{'background-color':'#FFF','width':'200px','border-radius':'5px','padding-right':'10px'}" id="weekendDay2" [(ngModel)]="Weekend2" (change)="changeValue2()">
      <!-- <option value="No Weekend">No Weekend</option> -->
      <mat-option *ngFor="let weekDay of weekDays" [value]="weekDay">{{ weekDay }}</mat-option>
    </mat-select>
  </div>


  <div class="form-group mt-5">
    <button type="button" class="btn w-25" (click)="save()">Update</button>
  </div>
</div>
  </div>