<div class="col-8 mx-auto">
    <div class="card" [ngStyle]="{'background-color':'transparent','border':'none'}">
      <div class="my-3 card-title d-flex justify-content-between align-items-center"[ngStyle]="{'display':'inline-block','margin-bottom':'20px'}" >
          <p [ngStyle]="{'display':'inline-block','color':'#28688B'}" class="fs-3 m-0">Edit Employee</p>
            <a class="nav-a" [routerLink]="['/employees']" routerLinkActive="''" >
              <fa-icon [icon]="faLongArrowRight" class=" fs-2 mb-5" ></fa-icon></a>
        </div>
        <div class="container ">
          <div *ngIf="isLoading; else elseForm">
            <app-loader :title="loadingTitle"></app-loader>
          </div>
          <ng-template #elseForm>
            <form class="rounded" [formGroup]="employeeForm" (ngSubmit)="submitForm()">
              <div class="row m-2">
                <div class="form-group col-md-6">
                  <mat-label for="name">Employee name</mat-label>
                  <input type="text" class="form-control" formControlName="name" name="name" id="name">
          
                </div>
                <div class="form-group col-md-6">
                  <mat-label for="ssn" >national ID</mat-label>
                  <input type="text" class="form-control" formControlName="ssn" name="ssn" id="ssn">
          
                </div>
          
              </div>
          
              <div class="row m-2">
                <div class="form-group col-md-6">
                  <mat-label for="phone" >Phone</mat-label>
                  <input type="text" class="form-control" formControlName="phone" name="phone" id="phone" >
          
                </div>
                <div class="form-group col-md-6">
                  <mat-label for="hire_date">Contract Date</mat-label>
                  <input type="date" class="form-control" formControlName="hire_date" name="hire_date" id="hire_date">
          
                </div>
              </div>
              <div class="row m-2">
                <div class="form-group col-md-6">
                  <mat-label for="gender">Gender</mat-label>
                  <select type="text" class="form-control" formControlName="gender" name="gender" id="gender">
                    <option value="">select gender....</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
          
                </div>
                <div class="form-group col-md-6">
                  <mat-label for="department_id" >department</mat-label>
                  <select type="text" class="form-control" formControlName="department_id" id="department_id" name="departmentId"
                    >
                    <option *ngFor="let dt of departments" [value]="dt.id">{{dt.department_name}}</option>
                  </select>
                </div>
          
              </div>
              <div class="row m-2">
                <div class="form-group col-md-12">
                  <mat-label for="address" >address</mat-label>
                  <textarea class="form-control w-100" formControlName="address" name="address" id="address"></textarea>
          
                </div>
          
              </div>
          
              <div class="row m-2">
                <div class="form-group col-md-6">
                  <mat-label for="salary" >Salary</mat-label>
                  <input readonly type="text" class="form-control" formControlName="salary" name="salary" >

                </div>
                <div class="form-group col-md-6">
                  <mat-label for="doa">start Date</mat-label>
                  <input type="date" class="form-control" formControlName="doa"  name="doa" >
                </div>
          
              </div>    
               
              <div class="row m-2">
                <div class="form-group col-md-6">
                  <mat-label for="check_in" >arrival time</mat-label>
                  <input readonly type="time" class="form-control" formControlName="check_in" name="check_in">

                </div>
                <div class="form-group col-md-6">
                  <mat-label for="check_out">leave time</mat-label>
                  <input type="time" class="form-control" formControlName="check_out"  name="check_out" >
                </div>
          
              </div>    
               
               <div class="d-flex justify-content-center" ><button type="submit" class="w-25 btn">update</button></div>
             
              </form>
          </ng-template>
        </div>
    </div>
</div>